.auth-body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f88f50, #f7e75c);
    font-family: Arial, sans-serif;
  }
  
  .auth-heading {
    color: #007bff;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-icon {
    font-size: 12rem;
    color: #007bff;
  }
  
  .auth-input {
    border: none;
    border-bottom: 1px solid #555;
    border-radius: 0;
    margin-bottom: 20px;
    background: transparent;
  }
  
  .auth-input:focus {
    box-shadow: none;
    border-bottom: 2px solid #007bff;
    background: transparent;
  }

  .btn-auth {
    width: 100%;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    padding: 10px;
    font-weight: 500;
    border: none;
  }
  .btn-auth:hover {
    background-color: #0056b3;
  }

  
.btn-auth:hover {
  background-color: #0056b3;
}

