<div th:fragment="script">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/jquery-ui.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/adminlte.min.js}"></script>
    <script th:src="@{/assets/js/dashboard.js}"></script>
    <script th:src="@{/assets/js/function.js}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function parseJwt(token) {
                try {
                    return JSON.parse(atob(token.split('.')[1]));
                } catch (e) {
                    return null;
                }
            }

            const token = localStorage.getItem("token");
            if (token) {
                const decoded = parseJwt(token);
                if (decoded && decoded.username) {
                    const elements = document.querySelectorAll(".usernameSpan");
                    elements.forEach(el => {
                        el.innerText = decoded.username;
                    });
                }
            }
        });

        function logout() {
            fetch("http://localhost:8080/api/auth/logout", {
                method: "POST",
            })
                .then(response => {
                    if (response.ok) {
                        localStorage.removeItem("token");
                        localStorage.removeItem("role");
                        window.location.href = "http://localhost:8081/login";
                    } else {
                        alert("Logout failed: " + response.status);
                    }
                })
                .catch(() => alert("Không thể kết nối tới server!"));
        }


        const userMenu = document.getElementById("userMenu");
        const token = localStorage.getItem("token");

        if (token) {
            // Đã login
            userMenu.innerHTML = `
            <div class="pull-left">
                <a href="/profile" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                <a onclick="logout()" class="btn btn-default btn-flat">Sign out</a>
            </div>
        `;
        } else {
            // Chưa login
            userMenu.innerHTML = `
            <div class="text-center" style="width:100%">
                <a href="/login" class="btn btn-default btn-flat">Sign in</a>
            </div>
        `;
        }
    </script>
</div>